<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Recaptcher privacy policy</title>
</head>
<body>
    <div style="font-weight: 800">Privacy Policy</div>

    <br/>
    We agree not to keep any records on any activity other than that which is required. What we store includes:
    <br/>

    <br/>
    Your e-mail address
    <br/>
    Your password
    <br/>
    Your current balance
    <br/>

    <br/>
    Number of CAPTCHAs you have passed to us
    <br/>
    Number of CAPTCHAs we have solved for you
    <br/>
    No other information is stored, and CAPTCHAs are deleted shortly after they are entered.
    <br/>

    <br/>
    If you have any questions of concerns about any of this, then feel free to email us at admin@recaptcher.com, and a
    <br/>
    support agent will get back to you as soon as possible.
    <br/>
</body>
</html>